.dh-text-1 { color: var(--dh-text-1); }
.dh-text-2 { color: var(--dh-text-2); }
.dh-text-brand { color: var(--dh-brand); }
.dh-text-blue { color: var(--dh-blue); }
.dh-text-red { color: var(--dh-red); }
.dh-text-orange { color: var(--dh-orange); }
.dh-text-green { color: var(--dh-green); }