.dh-sr-only
{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.dh-truncate
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dh-line-clamp-1
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.dh-line-clamp-2
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.dh-line-clamp-3
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.dh-line-clamp-4
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.dh-line-clamp-5
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.dh-line-clamp-6
{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
}

.dh-break-normal { overflow-wrap: normal; word-break: normal; }
.dh-break-words { overflow-wrap: break-word; }
.dh-break-all { word-break: break-all; }

.dh-whitespace-normal { white-space: normal; }
.dh-whitespace-nowrap { white-space: nowrap; }
.dh-whitespace-pre { white-space: pre; }
.dh-whitespace-pre-line { white-space: pre-line; }
.dh-whitespace-pre-wrap { white-space: pre-wrap; }
